@import "../../../styles/index";

.todoList {
    display: flex; 
    position: relative;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    width: 100%;
}
.editTodo {
    position: absolute;
    top: 10px;
    right: 6%;
    height: 20px;
    width: 50px;
    border-radius: 20px;
    background-color: rgb(15, 121, 56);
    text-align: center;
    color: white;
    cursor: pointer;
}
.deleteTodo {
    position: absolute; 
    right: 0;
    height: 20px;
    width: 25px;
    background-color: rgb(241, 11, 11);
    text-align: center;
    color: white;
    cursor: pointer;
}
.todosListBlock {
    display: flex;
    position: relative;
    text-align: center;
    border-bottom: solid rgb(46, 43, 43);
}
.todosListItem1 {
    background-color: rgb(210, 219, 206);
    height: 45px;
    width: 60px;
}
.todosListItem2 {
    width: 450px;
    margin-left: 10px;
    background-color: rgb(210, 219, 206);
    overflow: hidden;
}
.todosListItem3 {
    width: 80px;
    margin-left: 10px;
    background-color: rgb(210, 219, 206);
    text-align: center;
}