.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(201, 191, 191, 0.568);
  position:fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
} 