 @import "./styles/index.scss"; 

.app {
  @include centered-block(flex, column, relative, 0, center, center);
}
.todoListHeader {
  height: 100px;
  width: 100%;
  background-color: rgb(198, 235, 241);  
}
h1 {
  color: $grey;
  font-size: 60px;
}





 
  

// .Todo {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 30px;
//   border: 1px solid black;
//   border-top: none;
//   padding: 5px;
//   cursor: pointer;
// }
// .TodoList {
//   display: flex;
//   flex-direction: column;
//   width: 300px;
//   margin: 0 auto;
//   height: 200px;
//   overflow-y: auto;
//   overflow-x: hidden;
// }
// .DeleteTodo {
//   color: red;
//   font-weight: 900;
// } 
