 @import "./styles/index.scss"; 

.app {
  @include centered-block(flex, column, relative, 0, center, center);
}
.todoListHeader {
  height: 100px;
  width: 100%;
  background-color: rgb(186, 227, 233);  
}
h1 {
  color: $grey;
  font-size: 60px;
}
.addToDoButton {
  display: block;
  position: fixed;
  top: 110px;
  left: 10px;
  height: 30px;
  width: 110px;
  background-color: rgb(0, 247, 255);
  border: none;
  cursor: pointer;
}
